/* CSS VARIABLES */
:root{
    --primary: #ffffff;
    --light: #7aa5eb;
    --dark: #414c5e;
    --shadow: 0 1px 5px rgba(104,104,104,0.8);

}

*{
    scroll-behavior: smooth;
}
 
html{
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif ;
    color: var(--dark); 
} 

body{
    background: whitesmoke;
    margin: 30px 50px; /* 30px(top and bottom) 50px(left and right) */
    line-height: 1.4;
}

.btn{
    background-color: var(--dark);
    color: var(--light);
    padding: 0.6rem 1.3rem;
    text-decoration: None;
}
img{
    max-width: 100%;
}

.wrapper{
    display:grid ;
    grid-gap: 20px;

}

/*Navigation*/
.main-nav ul{
    display: flex;
    grid-gap: 20px;
    padding:0;
    list-style: none;
    grid-template-columns:1fr 1fr 1fr 1fr 1fr 1fr ;
    float: right;
    
}

#blog-title{
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main-nav a{
    background-color: var(--primary);
    text-decoration: none;
    display:block;
    padding: 0.8rem;
    text-align: center;
    color: var(--dark);
    text-transform: uppercase;
    font-size: 1.1rem;
    box-shadow: var(--shadow);
    
    
}
.main-nav a:hover{
    background: var(--dark);
    color: var(--light);
}

/* Top container */
.top-container{
    display:grid;
    grid-gap:20px;
    grid-template-areas:
    'showcase showcase top-box-a'
    'showcase showcase top-box-b';

}
/* Showcase */
.showcase{
    grid-area: showcase;
    min-height: 200px;
    max-width: 1000px;
    background: url(../img/marketing.jfif) no-repeat;
    background-size: cover;
    background-position: bottom;
    padding:3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: black;
    box-shadow:var(--shadow);
}

.showcase h1{
    font-size: 2rem; 
    margin-bottom: 0;
    color:rgb(0, 0, 0);
}

.showcase p{
    font-size: 1rem;
    font-weight: 500;
    margin-top: 0;
    color: rgb(0, 0, 0);
}
/* top box */
.top-box {
    background: var(--primary);
    display:grid;
    justify-items: center;
    align-items: center;
    box-shadow: var(--shadow);
    padding:1.5rem;

}
.top-box .price{
    font-size: 2.5rem; 

}

.top-box-a{
    grid-area: top-box-a;
    
}
.top-box-b{
    grid-area: top-box-b;
}
/* Boxes */
.boxes{
    background: var(--primary);
    padding: 20px;
    display:grid;
    grid-gap:20px;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr)); 

}

.boxes1{
    background: var(--primary);
    padding: 10px;
    display:grid;
    grid-gap:20px;
    height: 2.5rem;
    
    align-items: center;
    justify-content: center;
}

.boxes-title{
    justify-content: center;
    align-items: center;
    display: grid;
}
.box{
    padding:1.5rem 2rem;
    text-align: center;
    background: var(--primary);
    box-shadow:var(--shadow);
}

/* info */
.info-title{
    display: grid;
    justify-content: center;
    align-items: center;
}
.info{
    background: var(--primary);
    padding: 3rem;
    display:grid;
    grid-gap:30px;
    grid-template-columns: repeat(2,1fr);
    box-shadow: var(--shadow);
}

/* portfolio */

.portfolio-title{
    display: grid;
    justify-content: center;
    align-items: center;
}
.portfolio{
    background: var(--primary);
    padding: 2rem;
    display:grid;
    grid-gap:20px;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
}

.portfolio img{
    width:100%;
    box-shadow: var(--shadow);    
}

/* contact */
.contact-title{
    justify-content: center;
    align-items: center;
    display: grid;

.contact{

}

/* footer */
footer{
    margin-top:2rem;

    background: var(--dark);
    color:var(--light);
    text-align: center;
    padding: 0.5rem;
}

/* Media Queries */
@media (max-width:700px) {
    .top-container{
        grid-template-areas:
            'showcase showcase'
            'top-box-a top-box-b';

    }
    .showcase h1{
        font-size: 2.5rem;
    }
    .main-nav ul{
        grid-template-columns: 1fr;
    }
    .info{
        grid-template-columns: 1fr;
    }
    .info .btn{
        display:block;
        text-align: center;
        margin: auto;
    }
}

@media(max-width:500px){
    top-container{
        grid-template-areas:
            'showcase'
            'top-box-a'
            'top-box-b';


    }
}



